{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "mocha"
  ],
  "rules": {
    "no-multi-spaces": [
      "error", {
        "exceptions": {
          "ImportDeclaration": true,
          "VariableDeclarator": true
        }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["!test.js"] }
    ],
    "no-console": "off",
    "class-methods-use-this": "off",
    "arrow-parens": "warn",
    "key-spacing": "warn",
    "camelcase": "warn",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "no-plusplus": "off",
    "max-len": "off",
    "no-return-await": "error",
    "no-mixed-operators": "off",
    "no-param-reassign": "off"
  }
}
